{% extends 'base.html' %}

<!-- Content block -->
{% block content %}
    <!-- News Sources Section -->
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <b>General News Sources</b>
      <div>
        {% for news_source in sources %}
          {% if news_source.category == "general" %}
    
            <p><small><a href="/articles/{{news_source.id}}">{{news_source.name}}</a></small></p>
    
          {%endif%}
        {% endfor %}
      </div>
    </div>

    <div class="col-sm-9">
      <div class="col-md-4">
        <b>Business News Sources</b>
        <div>
          {% for news_source in sources %}
            {% if news_source.category == "business" %}
      
              <p><a href="/articles/{{news_source.id}}">{{news_source.name}}</a></p>
      
            {%endif%}
          {% endfor %}
        </div>
      </div>
    
      <div class="col-md-4">
        <b>Technology News Sources</b>
        <div>
          {% for news_source in sources %}
            {% if news_source.category == "technology" %}
      
              <p><a href="/articles/{{news_source.id}}">{{news_source.name}}</a></p>
      
            {%endif%}
          {% endfor %}
        </div>
      </div>
    
      <div class="col-md-4">
        <b>Sports News Sources</b>
        <div>
          {% for news_source in sources %}
            {% if news_source.category == "sports" %}
      
              <p><a href="/articles/{{news_source.id}}">{{news_source.name}}</a></p>
      
            {%endif%}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>








{% endblock %}