{% extends 'base.html' %}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}
    <!-- News Sources Section -->
<div class="container">
  <div class="row">

    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 text-center">

      <div>
        <h3>Welcome To Phoenix News Feeds</h3>
        <h5>ALL YOUR NEWS IN ONE PLACE</h5>
      </div>
      <div class="row1">

        <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 business">
          <b>Business News Sources</b>
          <div>
            {% for news_source in sources %}
              {% if news_source.category == "business" %}
        
                <p><a href="/articles/{{news_source.id}}">{{news_source.name}}</a></p>
        
              {%endif%}
            {% endfor %}
          </div>
        </div>
      
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 technology">
          <b>Technology News Sources</b>
          <div>
            {% for news_source in sources %}
              {% if news_source.category == "technology" %}
        
                <p><a href="/articles/{{news_source.id}}">{{news_source.name}}</a></p>
        
              {%endif%}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="sports text-center">
        <b>Sports News Sources</b>
        <div>
          {% for news_source in sources %}
            {% if news_source.category == "sports" %}
      
              <p><a href="/articles/{{news_source.id}}">{{news_source.name}}</a></p>
      
            {%endif%}
          {% endfor %}
        </div>
      </div>

    </div>

    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center general">
      <b>General News Sources</b>
      <div>
        {% for news_source in sources %}
          {% if news_source.category == "general" %}
    
            <p><small><a href="/articles/{{news_source.id}}">{{news_source.name}}</a></small></p>
    
          {%endif%}
        {% endfor %}
      </div>
    </div>
  </div>
</div>








{% endblock %}