{% extends 'base.html' %}

<!-- Content block -->
{% block content %}
    <!-- News Sources Section -->
<div class="container">
  <h1>General NEWS SOURCES</h1>
  <div>
    {% for news_source in sources %}
      {% if news_source.category == "general" %}

        <p><a href="/articles/{{news_source.id}}">{{news_source.name}}</a></p>

      {%endif%}
    {% endfor %}
  </div>

  <h1>Technology News Sources</h1>
  <div>
    {% for news_source in sources %}
      {% if news_source.category == "technology" %}

        <p><a href="/articles/{{news_source.id}}">{{news_source.name}}</a></p>

      {%endif%}
    {% endfor %}
  </div>

  <h1>Business News Sources</h1>
  <div>
    {% for news_source in sources %}
      {% if news_source.category == "business" %}

        <p><a href="/articles/{{news_source.id}}">{{news_source.name}}</a></p>

      {%endif%}
    {% endfor %}
  </div>

  <h1>Sports News Sources</h1>
  <div>
    {% for news_source in sources %}
      {% if news_source.category == "sports" %}

        <p><a href="/articles/{{news_source.id}}">{{news_source.name}}</a></p>

      {%endif%}
    {% endfor %}
  </div>
</div>
{% endblock %}