<!-- {% macro displayGeneralNewsSources() %}

  {% for news_source in sources %}
    {% if news_source.category == "general" %}
      <li>{{news_source.name}} </li>
    {%endif%}
  {% endfor %}

{% endnacro %} -->
<!-- #################################################### -->

{% macro displayArticlesInSource(source_list) %}

  {% for source in source_list %}
    <div>
      <li class="text-center">
        <a href="/news/{{source.id}}">
        {{source.name}}
        </a>
      </li>
    </div>
  {% endfor %}

{% endnacro %}